
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using EurasianTest.Core.Components.DictionaryComponents.GetProjectsDictionaryComponent.Models
@using EurasianTest.Core.Components.DictionaryComponents.GetUsersDictionaryComponent.Models
@model EurasianTest.Core.Components.AddTaskComponent.Models.AddTaskViewModel

<h1>Добавление новой задачи к проекту @Model.ProjectName</h1>
<form asp-controller="Tasks" asp-action="Add" method="post">
    <label>Название</label>
    <input asp-for="Name" type="text" class="form-control" />
    <label>Описание</label>
    <input asp-for="Description" type="text" class="form-control" />

    <label>Дата начала</label>
    <input asp-for="Started" type="text" class="form-control" />

    <label>Дата завершения</label>
    <input asp-for="Expired" type="text" class="form-control" />

    <input hidden asp-for="ProjectId" />

    <div class="form-group">
        <label>Назначить на</label>
        <select asp-for="UserId" asp-items="@(new SelectList(Model.Users, nameof(UserViewModel.UserId), nameof(UserViewModel.Email)))" class="form-control"></select>
    </div>

    <button class="btn btn-outline-success" type="submit">Добавить</button>
</form>