
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using EurasianTest.Core.Models
@model EurasianTest.Core.Components.AddTaskComponent.Models.AddTaskViewModel
<h1>Добавление новой задачи</h1>


<form asp-controller="Tasks" asp-action="Add" method="post">
    <label>Название</label>
    <input asp-for="Name" type="text" class="form-control" />
    <label>Описание</label>
    <input asp-for="Description" type="text" class="form-control" />
    <div class="form-group">
        <label>Проект</label>
        <select asp-for="ProjectId" asp-items="@(new SelectList(Model.Projects, nameof(ProjectViewModel.ProjectId), nameof(ProjectViewModel.Name)))" class="form-control"></select>
    </div>
    <div class="form-group">
        <label>Назначить на</label>
        <select asp-for="UserId" asp-items="@(new SelectList(Model.Users, nameof(UserViewModel.UserId), nameof(UserViewModel.Email)))" class="form-control" ></select>
    </div>

    <button class="btn btn-outline-success" type="submit">Добавить</button>
</form>