@{
    ViewData["Title"] = "Home Page";
}
@model EurasianTest.Core.Components.GetHomeInfoModel.Model.GetHomeInfoViewModel
@inject EurasianTest.Core.Infrastructure.IAuthContext authContext

@if (authContext.CurrentUser.Role == EurasianTest.DAL.Entities.Enums.Role.Administrator)
{
    <div class="container">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">
                        @(Model.AdminInfo?.ReturnedForWorkInTheWeek.ToString() ?? "???")
                    </h1>
                    <h3>
                        задач вернулось повторно
                    </h3>
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">
                        @(Model.AdminInfo?.FinishedDateOnTheWeek.ToString() ?? "???")
                    </h1>
                    <h3>
                        задач завершено на этой неделе
                    </h3>
                </div>
            </div>
        </div>
    </div>
}
<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <h4>
                    В работе у пользователя
                </h4>
                @if (Model.TaskForWork?.Count > 0)
                {
                    <table class="table table-borderless">
                        <tbody>
                            @for (int i = 0; i < Model.TaskForWork.Count; i++)
                            {
                                <tr>
                                    <td>
                                        <a href="/Tasks/Details/@Model.TaskForWork[i].Id">@Model.TaskForWork[i].Name</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>нет данных</p>
                }
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <h4>
                    На следующей неделе
                </h4>
                @if (Model.TasksStartOnNextWeek?.Count > 0)
                {
                    <table>
                        <tbody>
                            @for (int i = 0; i < Model.TasksStartOnNextWeek.Count; i++)
                            {
                                <tr>
                                    <td>
                                        <a href="/Tasks/Details/@Model.TasksStartOnNextWeek[i].Id">@Model.TasksStartOnNextWeek[i].Name</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>нет данных</p>
                }
            </div>
        </div>
    </div>
</div>