
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using EurasianTest.DAL.Entities.Enums;
@model EurasianTest.Core.Components.GetUserDetailsComponent.Models.GetUserDetailsViewModel

<h1>Пользователь: @Model.Email</h1>
<div class="container">
    <form method="post" asp-action="ChangeRole">
        <div class="row">
            <div class="col-md-4">
                <label for="country" class="">Роль</label>
                <input hidden asp-for="Id" />
                <select asp-for="Role" asp-items="Html.GetEnumSelectList<Role>()" class="custom-select d-block w-100"></select>
                <div class="invalid-feedback">
                    Please select a valid country
                </div>
                <button type="submit" class="btn btn-outline-primary btn-block">Установить</button>
            </div>
        </div>
    </form>
</div>
