@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model EurasianTest.Core.Components.AddProjectComponent.Model.AddProjectViewModel

<h1>Добавить проект</h1>

<form asp-controller="Projects" asp-action="Add" method="post">
    <label>Название</label>
    <input asp-for="Name" type="text" class="form-control col-sm-3" />
    <span asp-validation-for="Name" class="text-danger"></span>
    <hr />
    <button class="btn btn-outline-success form-control col-sm-3 form-control" type="submit">Добавить</button>
</form>