@using EurasianTest.Core.Components.GetProjectDetailsComponent.Models
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model EurasianTest.Core.Components.GetProjectDetailsComponent.Models.GetProjectDetailsViewModel

<h1>Проект: @Model.Name</h1>

<div class="container">
    <form asp-controller="Projects" asp-action="Update" method="post">
        <label>Название</label>
        <input asp-for="Id" hidden />
        <input asp-for="Name" class="form-control" />
        <button type="submit" class="btn btn-outline-success">Сохранить</button>
    </form>
</div>
<hr />
<div class="container">
    <label>Добавить администратора проекта</label>
    <input type="text" hidden asp-for="Id" />
    <select id="UserId" asp-items="@(new SelectList(Model.Users, nameof(GetProjectDetailsUserViewModel.UserId), nameof(GetProjectDetailsUserViewModel.Email)))" class="form-control"></select>
</div>
<hr />
<div class="container">
    <form method="post" asp-action="Delete" asp-controller="Projects">
        <input hidden asp-for="Id" />
        <button type="submit" class="btn btn-danger">Удалить</button>
    </form>
</div>