@using EurasianTest.Core.Components.GetProjectDetailsComponent.Models
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model EurasianTest.Core.Components.GetProjectDetailsComponent.Models.GetProjectDetailsViewModel

<h1>Проект: @Model.Name</h1>

<div class="container">
    <form asp-controller="Projects" asp-action="Update" method="post">
        <label>Название</label>
        <input asp-for="Id" hidden />
        <input asp-for="Name" class="form-control" />
        <button type="submit" class="btn btn-outline-success">Сохранить</button>
    </form>
</div>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h5 class="">Пользователи проекта</h5>
            <table>
                <tbody>
                    @for (Int32 i = 0; i < Model.AddedUsers.Count; i++)
                    {
                        <tr>
                            <td>@Model.AddedUsers[i].EmailWithRole</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <form method="post" asp-action="AddProjectAdministrator" asp-controller="Projects">
                <h5>Добавить пользователя проекта</h5>
                <input type="text" hidden asp-for="Id" />
                <select id="UserId" name="UserId" asp-items="@(new SelectList(Model.Users, nameof(GetProjectDetailsUserViewModel.UserId), nameof(GetProjectDetailsUserViewModel.EmailWithRole)))" class="form-control col-md-3"></select>
                <button type="submit" class="btn btn-outline-success">Добавить</button>
            </form>
        </div>
    </div>
</div>
<hr />
<div class="container">
    <form method="post" asp-action="Delete" asp-controller="Projects">
        <input hidden asp-for="Id" />
        <button type="submit" class="btn btn-danger">Удалить проект</button>
    </form>
</div>