@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model EurasianTest.Core.Components.GetProjectDetailsComponent.Models.GetProjectDetailsViewModel

<h1>Проект: @Model.Name</h1>

<div class="container">
    <form asp-controller="Projects" asp-action="Update" method="post">
        <label>Название</label>
        <input asp-for="Id" hidden />
        <input asp-for="Name" class="form-control" />
        <button type="submit" class="btn btn-outline-success">Сохранить</button>
    </form>
</div>
<div class="container">

</div>